/* main */
.content {
    margin: 0;
    display: flex;
    height: calc(100vh - 80px - 64px); 
}
.main-container {
    padding: 0 8px;
    height: 100%;
}
#left-main {
    background: #4f4d4d97;
    flex-grow: 0.1;
    color: #ffff;
}
.nav-contaier {
    background-color: rgba(33, 31, 31, 0.685);
    border-radius: 5px;
}
.pdd {
    padding: 5px 12px;
}
#right-main {
    flex-grow: 0.9;
}
p {
    padding: 0;
    margin: 16px 0 0 0;
}
#select-container {
    margin: 0;
    padding: 0 12px;
}

#select-box {
    height: 40px;
    padding: 5px;
    font-size: 16px; 
    line-height: 3.0; 
    border-radius: 2px;
    width: 100%; 
}
.date-range-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
    font-size: 16px; 
}
.date-to {
    margin: 0 10px; 
    font-weight: bold; 
}
input[type="date"] {
    padding: 8px;
    font-size: 16px; 
    border: 1px solid #000; 
    border-radius: 4px;
    width: 50%; 
}
.click-btn {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.click-btn:hover {
    background-color: #5a4f4f;
    border: 1px solid #ffff;
}
.click-btn:hover {
    color: #ffff;
}

.click-btn　{
    color: #000;
}

.main-item {
    text-align: center;
    margin: 0 auto;
}
